
<% if current_user.likes?(@tweet) %>
<%= link_to "Unlike", tweet_like_path(@tweet), method: :delete %>
<% else %>
<%= link_to "Like", tweet_like_path(@tweet), method: :post %>
<% end %>

<h3>Liked By:</h3>
<% @tweet.likes.each do |like| %>
  <br>
  <%= like.user.username %>
  <br>
  <% end %>
